// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.bg-primary {
    background-color: #38b6ff !important;
}

.navbar-light .nav-link{
    color: white !important;
}

.color-primary {
    color: #38b6ff !important;
}

.color-secondary, .h6, .card-title {
    color: #1a73e8 !important;
}

.text-redsoft{
    color: #fc7263 !important;
}

.color-gray {
    color: #f2f2f2;
}

.previewComrobante{
    width: 140px;
}

p, label{
    color: #38b6ff !important;
}

.table>:not(caption)>*>* { 
    color: #38b6ff ;
}

thead > tr > th {
    color: #1a73e8 !important;
}

.pointer{
    cursor: pointer;
}

.easy-autocomplete{
    width: 100% !important;
}

.square-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .previewComrobante {
    max-height: 300px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}