// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.pointer{
    cursor: pointer;
}

.easy-autocomplete{
    width: 100% !important;
}

.square-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }