@import url(https://fonts.googleapis.com/css?family=Nunito);
.bg-primary {
  background-color: #38b6ff !important;
}

.navbar-light .nav-link {
  color: white !important;
}

.color-primary {
  color: #38b6ff !important;
}

.color-secondary, .h6, .card-title {
  color: #1a73e8 !important;
}

.color-gray {
  color: #f2f2f2;
}

p, label {
  color: #38b6ff !important;
}

.table > :not(caption) > * > * {
  color: #38b6ff;
}

thead > tr > th {
  color: #1a73e8 !important;
}

.pointer {
  cursor: pointer;
}

.easy-autocomplete {
  width: 100% !important;
}

.square-img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
